<div id='login-form'>
  <%= render 'layouts/errors' %>
  <h2>Login</h2>

  <%= form_tag('/login', method: :post) do %>
    <p>
      <%= email_field_tag :email, params[:email], placeholder: :email %><br>
    </p>

    <p>
      <%= password_field_tag :password, params[:password], placeholder: :password %><br>
    </p>

    <p>
      <%= submit_tag "Login" %>
    </p>
  <% end %>
</div>