<div id='sign-up-form'>
  <%= render 'layouts/errors' %>
  <h2>Sign Up</h2>

  <%= form_for @user, url: { action: "create" } do |f| %>
    <p>
      <%= f.text_field :first_name, placeholder: true %><br>
    </p>

    <p>
      <%= f.text_field :last_name, placeholder: true %><br>
    </p>

    <p>
      <%= f.text_field :email, placeholder: true %><br>
    </p>

    <p>
      <%= f.password_field :password, placeholder: true %><br>
    </p>

    <p>
      <%= submit_tag "Sign Up" %>
    </p>
  <% end %>
</div>