<!DOCTYPE html>
<html>
  <head>
    <title>Music by Marissa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <h1>Concerts!</h1>

    <div id='navigation'>
      <p><%= link_to 'Login', '/sessions/new' %> <%= link_to 'Sign Up', '/users/new' %>  <%= link_to 'Home', '/' %></p>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
